*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,1,1,1) 0%, rgba(255,248,10,1) 0%, rgba(243,224,53,1) 0%, rgba(2,98,185,1) 0%, rgba(3,2,82,1) 100%, rgba(106,254,255,1) 100%);
    text-align: center;
    height: 300vh;
}
.container{
    margin-top: 10vh;
    margin-left: 10vh;
    margin-right: 10vh;
}

.card1, .card2, .card3{
    color: white;
    display: inline-block;
    height: 80vh;
    width: 30%;
    border-radius:1rem;
    text-align: center;   
}

.card1 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,1,1,1) 0%, rgba(255,248,10,1) 0%, rgba(243,224,53,1) 0%, rgba(0,13,144,1) 0%, rgba(70,164,212,1) 100%, rgba(106,254,255,1) 100%);
    position: relative;
    transition: all 2s ease;
}

.card2 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,1,1,1) 0%, rgba(255,248,10,1) 0%, rgba(243,224,53,1) 0%, rgba(79,0,144,1) 0%, rgba(170,70,212,1) 100%, rgba(106,254,255,1) 100%);
    position: relative;
    transition: all 2s ease;
}

.card3 {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(42,1,1,1) 0%, rgba(255,248,10,1) 0%, rgba(243,224,53,1) 0%, rgba(152,7,7,1) 0%, rgba(212,115,70,1) 100%, rgba(106,254,255,1) 100%);
    position: relative;
    transition: all 2s ease;
}

.title{
    position: absolute;
    top: 10%;
    left: 30%;
    font-size: x-large;
}

.desc{
    position: absolute;
    top: 60%;
    left: 35%;
    font-size: medium;
}

.cap{
    position: absolute;
    top: 70%;
    left: 30%;
    font-size: xx-large;
    box-sizing: border-box;
}

.button{
    position: absolute;
    color: gray;
    background-color:white;
    border-radius: 3rem;
    padding: 5% 20% 5% 20%; 
    top: 95%;
    left: 20%;
    font-size: medium;
    transition: all 2s ease;
}

.line {
    position: absolute;
    top: 20%;
    left: 48%;
    font-size: larger;
    display: inline-block;
}

.card1:hover, .card2:hover, .card3:hover{
    transform: scale(1.1);
    z-index: 1;
}

.button:hover {
    transform: translateY(10px);
    left: 15%;
    width: 28%;
}